#musallaa{
    width: 100%;
    height: 100%;
    /* background: linear-gradient(to right,grey,rgb(14, 13, 13),grey); */
   
}
#musicshop{
    width: 100%;
    height: 19rem;
}
.imgs{
    animation:shortImg 20s infinite linear;
}
@keyframes shortImg{
    from{
        transform: rotate(0deg)
    }to{
        transform: rotate(360deg)
    }
}